.review-stars-rated ul li{
    color: #666666;
}

.review-stars ul li{
    color: #666666;
}
/* .box-shadow{
    box-shadow: 0px 1px 4px 1px #c7c7c7;
    border-radius: 12px;
} */
/* .courses-content{
    box-shadow: 0px 1px 4px 1px #c7c7c7;
} */
